/* Stype Pour Desktop  */



*{margin : 0px;box-sizing: border-box;}
.tout-sauf-footer  { margin-left: 50px;}

:root {
--bleu: #0065FC;
--bleuclair :#DEEBFF ;
--gris : #F2F2F2; 
}
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
body{ font-family: 'Raleway', sans-serif;
   margin : 0; 
     box-sizing: border-box;
     
    }
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
margin-top: 0;
margin-bottom: 0;
}


/*  Header propertyyy */
/*************/
/*************/


header{
width: 95%;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
font-weight: 600;
}

.logo img { width: 107px ; height: 50px;  }
header  a{
padding-left:25px ;
text-decoration: none;
text-align: center;
}


.logo { flex-grow: 4;}  

.heberge {color: var(--bleu); padding: 21px; }
.acti {color: gray; padding: 21px;}
.inscrire {color: var(--bleu);  padding: 21px;}

.inscrire:hover{
  border-top: 2px solid var(--bleu);
}
.heberge:hover{
  border-top: 2px solid var(--bleu);
}
.acti:hover{
  border-top: 2px solid var(--bleu);
}

/*  Recherche logement  */

.recherche-logement {
margin: 25px 50px ;
word-wrap: break-word;

}
.recherche-logement .p1 {font-weight: 900; font-size: 24px;padding-bottom: 15px;}
.recherche-logement .p2 {font-weight: 300;font-size: 18px;}


.formulaire {display: flex; margin-top: 25px;}

.placeicon {

background-color : var(--gris);
width: 55px;
height: 42px;
border-top-left-radius: 25px;
border-bottom-left-radius: 25px;
display: inline-block;
position: relative;
left: -4PX;
 
}
.iconplace1 { position: absolute; left:18px; top:5px; }

.recherche-logement .btn_rech {
background-color: var(--bleu);
border-top-right-radius: 15px;
border-bottom-right-radius: 15px;
border:none;
height: 42px;
color: white;
font-weight: 600; 
}

.recherche-logement .inputtxt {

height: 42px;
border-top : 1px solid #ccc;
border-bottom : 1px solid #ccc;
border-left: none;
border-right: none;
margin : 0 -4px;
}

/*  box filtre */

.filtre { 
margin-top: 25px;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
width: 80%;
}   

.icon {
border:1px solid #CCC;
border-radius: 50PX;
position: relative;
font-weight: 600;
padding-right: 10px;
margin-top: 10px;

}

.icon:hover{
transform: scale(1.1); 

}

.iconcolor {
color : var(--bleu);
position: relative;
top: 3px;
left :10px 
}



.iconfiltre { 
background-color:var(--bleuclair);
width: 55px;
height: 38px;
display: inline-block;
border-radius: 50px;
}
.iconfami {

width: 37px;
height: 38px;


}
.info {

display: flex;
align-items: center;
margin-top: 10px;
margin-bottom: 15px;
word-wrap: break-word;

}
.info span { padding-left: 20px;}
.info .iconinfo {
color: var(--bleu);
padding :5px;
border: 1px solid #ccc;
border-radius: 50% ;
width:25px;
height:25px;
text-align: center;
}

/*  Les 2 conteneur : hebergement + plus populaire */

.main {
display: flex;
justify-content: space-between;
flex-wrap: wrap;
width: 95%;

}
/*  conteneur Hebergement property */

.hebergement {

width: 65%;
display: flex;
flex-wrap: wrap;
border-radius: 25px;
background-color: #F2F2F2;
justify-content: center;
justify-content: space-around;
}
.hebergement h3 {
width: 100%;
margin: 25px;
}
.hebergement .box {

background-color:white;
width : 30%;
height: 197px;
margin-bottom: 35px;
border-radius: 25px;
padding: 3px;
box-shadow: #ccc 5px 5px 5px;
display: flex;
flex-wrap: wrap;
justify-content: start;
}
.hebergement .box img {
width: 100%;
height: 50%;
border-top-left-radius: 25px;
border-top-right-radius: 25px;
display: block;
object-fit: cover;


}
.hebergement-name {
width: 100%;
display: block;
margin-left: 5%;
font-size: 13px;
font-weight: 800;
}
.prix-hebergement {
width: 100%;
display: block;
margin-left: 5%;
font-weight: 600;


} 
.rating {
display: block;
width: 100%;
margin-left: 5%;

}

.afficher-plus {
  display: flex;
flex-direction: row;
justify-content: start;
padding-bottom: 50px;
width: 100%;
}
/*  les plus populaire property */

.populaire {
width: 30%;
background-color: var(--gris);
border-radius: 25px;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
} 

.populaire .box {
background-color:white;
border-radius: 25px;
width: 85%;
height: 113px;
padding:3px;
display: flex;
flex-direction: column;
flex-wrap: wrap;
justify-content: space-evenly;
word-wrap: break-word;
}
.populaire .box img{
width: 40%;
height: 106px;
border-top-left-radius:25px ;
border-bottom-left-radius:25px ;
object-fit: cover;

}
.icontrend {
width: 80%;
display: flex;
justify-content: space-between;

} 
.flech { 
align-self: center;

}

.populaire .box p {
  width: 50%;
 
}

.trend-hotel-name{
  font-size: 13px;
  font-weight: 600;
  align-self: center;

}
.lepp-titre {
  margin: 25px 0;
  
  
  }
.prix-trend {
  align-self: center;
  font-size: 13px;
  font-weight: 600;

}
.rating2  { align-self:flex-start; margin-left: 13px;}

/*   Activite marseille  */


.activite-marseille {
margin-top: 33px;
height: 520px;
width: 95%;
display: flex;
flex-direction: column;
flex-wrap: wrap;
align-items: center;
margin-left: 25px;
Justify-content: flex-start;
  }
.activite-marseille h4 {
  font-size: 13px;
  font-weight: 600;

}
.titre-act-mrs h2 {
margin-top: 25px;
margin-left: 25px;


}
.activite-marseille h4{

margin-left: 15px;  
margin-top: 2px;
}



/*  box 1 et box 4 property */

.activite-marseille .box1-4{

width: 200px;
height: 400px;
margin-top: 15px;
border : 1px #ccc solid;
border-radius: 25px;
box-shadow: #ccc 5px 5px 5px;
}      

.activite-marseille .img1-4{
  object-fit: cover;
  width: 200px;
  height: 345px;
  border-top-left-radius: 25px; 
  border-top-right-radius: 25px; 
   }
  
/*  box 2 + 3+ 5 + 6 property */

.activite-marseille .box2-3-5-6{

width: 200px;
height: 193px;
margin-top: 15px;
border : 1px #ccc solid;
border-radius: 25px;
box-shadow: #ccc 5px 5px 5px;
 
}      


.activite-marseille .img2-3-5-6 {
object-fit: cover;
width: 200px;
height: 147px;
border-top-left-radius: 25px; 
border-top-right-radius: 25px; 
 }



/*  fOOTER */


footer{
 
background-color: var(--gris);
display: flex;
flex-wrap: wrap;
justify-content: center;
justify-content: space-around;
align-items: center;
padding : 50px 0px;
}
.apropos  h2,.noshebergement h2,.assistance h2  {
margin-bottom: 10px;

}
.apropos  h4,.noshebergement h4,.assistance h4  {
  margin-bottom: 5px;
  font-weight: normal;
  }

 