:root {
    --bleu: #0065FC;
    --bleuclair :#DEEBFF ;
    --gris : #808080; 
  }

body{ font-family: 'Raleway', sans-serif; margin: 0 50px ;}

header{
margin: 0 ;
width: 90%;
height: 100px;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
font-weight: 600;
}

.logo img { width: 107px ; height: 50px;  }
header  a{
padding-left:25px ;
text-decoration: none;
text-align: center;
}

 
.logo { flex-grow: 4;}  

.heberge {color: var(--bleu); padding: 21px; border-top: 2px solid var(--bleu);}
.acti {color: var(--gris); padding: 21px;}
.inscrire {color: var(--bleu);  padding: 21px;}


}


/*  Recherche logement  */

.recherche-logement {
   margin: 0 50px ;

}
.recherche-logement .p1 {font-weight: 600;}
.recherche-logement .p2 {font-weight: 300;}

.placeicon {

  background-color: #ccc;
  width: 55px;
  height: 42px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  display: inline-block;
  position: relative;
  top:16px;
  left:0px;
 }
 .iconplace1 { position: absolute; left:18px; top:5px; }

 .recherche-logement .btn_rech {
background-color: var(--bleu);
border-top-right-radius: 15px;
border-bottom-right-radius: 15px;
border:none;
height: 42px;
color: white;
font-weight: 600; 
 }

 .recherche-logement .inputtxt {

  height: 42px;
 border-top : 1px solid #ccc;
 border-bottom : 1px solid #ccc;
border-left: none;
border-right: none;
margin : 0 -4px;
   }

.filtre { 
margin-top: 25px;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
max-width: 80vw;

}   

.icon {
border:1px solid #CCC;
border-radius: 50PX;
position: relative;
font-weight: 600;
padding-right: 10px;
margin-top: 10px;


  }
.iconcolor {
 color : var(--bleu);
position: relative;
top: 3px;
left :10px 
  }



 .iconfiltre { 
background-color:var(--bleuclair);
width: 55px;
height: 38px;
display: inline-block;
border-radius: 50px;
  }
.iconfami {
 
  width: 37px;
  height: 38px;


  }